@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f1ecec;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121111;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
